// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #04AA51
$secondary = #27A0B6
$accent    = #212121

$dark      = #121212 // consistent with GMAIL dark background

$positive  = #21BA45
$negative  = #C10015
$info      = #161616 // use as dark-primary
$warning   = #f3f3f3 // use as dark-secondary


